body {
  padding-top: 65px;
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',Arial, Helvetica, sans-serif;
}

.col-md-9 {
  padding: 5px;
}

#toggleMenu {
  clear: right;
}
