#login {
  background: #EDEDED;
  padding-top: 100px;
}

#login .login-box {
  max-width: 350px;
  padding: 25px;
  margin: 0 auto;
  background: #FFFFFF;
}

#login .form-signin-heading {
  text-align: center;
  margin: 10px 0 25px;
}

#login .form-signin .form-control {
  padding: 13px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #CCCCCC;
  position: relative;
  height: auto;
}

#login .form-signin .checkbox {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 25px;
}
