#register {
  background: #EDEDED;
  padding-top: 100px;
}

#register .register-box {
  max-width: 450px;
  padding: 25px 40px;
  margin: 0 auto;
  background: #FFFFFF;
}

#register .form-signin-heading {
  text-align: center;
  margin: 10px 0 25px;
}

#register .form-signin label.input-label {
  font-weight: bold;
  font-size: 0.8em;
}

#register .form-signin .form-control {
  padding: 13px;
  margin-bottom: 10px;
  border: none;
  border: 1px solid #CCCCCC;
  position: relative;
  height: auto;
}

#register .btn-register {
  margin-top: 25px;
}